.button {
    

    &-white {
        background-color: $white;
        width: 222px;
        height: 71px;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$blac;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        
        @media (max-width: 992px) {
            width: 173px;
            height: 58px;
        }
        @media (max-width: 768px) {
            width: 138px;
            height: 40px;
        }
        // @media (max-width: 992px) {
        //     font-size: 18px;
        //     line-height: 18px;
        // }
    }
    &-black {
        background-color: $blac;
        color: $white;
        width: 222px;
        height: 71px;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;

         @media (max-width: 992px) {
             width: 173px;
             height: 58px;
         }

         @media (max-width: 768px) {
             width: 173px;
             height: 40px;
         }
    }
}