// .header {
//     padding: 45px 0;
//     &__container {
//         display: flex;
//         justify-content: space-between;
//         flex-wrap: wrap;
//         align-items:center;
//     }
// }
// .menu {
//     &__list {
//         display: flex;
//         flex-wrap: wrap;
//     }

//     &__item {
//         text-transform: uppercase;
//         display: flex;
//         margin-right: 60px;
//         font-weight: 400;
//         font-size: 12px;
//         line-height: 12px;
//         letter-spacing: 0.2em;


//         &:last-child{
//             margin-right: 0;
//         }
//     }
// }
.header {
    padding: 45px 0;

    &__container {
        display: grid;
        grid-template-columns: 27% 73%;
    }
}

.menu {
    margin: auto;

    &__list {
        display: flex;
        padding: 0;
        
    }

    &__item {
        text-transform: uppercase;
        display: flex;
        margin-right: 60px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;


        &:last-child {
            margin-right: 0;
        }
    }
}
.active {
    color: hotpink;
}