// .header {
//     padding: 45px 0;
//     &__container {
//         display: flex;
//         justify-content: space-between;
//         flex-wrap: wrap;
//         align-items:center;
//     }
// }
// .menu {
//     &__list {
//         display: flex;
//         flex-wrap: wrap;
//     }

//     &__item {
//         text-transform: uppercase;
//         display: flex;
//         margin-right: 60px;
//         font-weight: 400;
//         font-size: 12px;
//         line-height: 12px;
//         letter-spacing: 0.2em;


//         &:last-child{
//             margin-right: 0;
//         }
//     }
// }
.header {
    padding: 45px 0;

    &__container {
        display: grid;
        grid-template-columns: 22% 73%;

        @media (max-width: 708px) {
            grid-template-columns: 16% 73%;
        }
    }
}
.logo__link {
    width: 70px;
    height: 40px;
}

.menu {
    margin: auto;

    @media (max-width: 574px) {
        display: none;
    }

    &__list {
        display: flex;
        padding: 0;
        
    }

    &__item {
        text-transform: uppercase;
        display: flex;
        margin-left: 60px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;

        @media (max-width: 960px) {
            margin-left: 20px;
        }
        @media (max-width: 782px) {
            font-size: 10px;
        }
    }
}
.active {
    color: hotpink;
}

.mobile {
    &-menu__list {
        display: none;
    }

}