.header {
    padding: 45px 0;

    &__container {
        display: grid;
        grid-template-columns: 22% 73%;

        @media (max-width: 965px) {
            grid-template-columns: 16% 73%;
        }
        @media (max-width: 890px) {
            grid-template-columns: 15% 60%;
        }
        @media (max-width: 890px) {
            grid-template-columns: 10% 60%;
        }
        @media (max-width: 574px) {
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 50;
            background-color: white;
            top: 0;
            left: 0;
            padding-top: 15px;
            width: 100%;
        } 
    }
}

.logo__link {
    width: 70px;
    height: 40px;
}

.menu {
    margin: auto;

    @media (max-width: 574px) {
        display: none;
    }

    &__list {
        display: flex;
        padding: 0;

    }

    &__item {
        text-transform: uppercase;
        display: flex;
        margin-left: 60px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;

        @media (max-width: 890px) {
            font-size: 10px;
            margin-left: 40px;
        }
        @media (max-width: 641px) {
            font-size: 10px;
            margin-left: 30px;
        }
    }
}

.active {
    color: hotpink;
}

.mobile {
    &-header {
        display: none;

        @media (max-width: 574px) {
            display: block;
        }
    }
    &-menu {
        position: fixed;
        background-color: white;
        top: 72px;
        width: 100%;
        height: 100%;
        right: -100%;
        z-index: 50;
        transition: all 0.5s ease-in-out;


        &--active {
            right: 0;
        }
        &__item {
            font-size: 16px;
            padding: 30px;
            border-top: 1px solid rgb(119, 119, 119);

            &:last-child {
                border-bottom: 1px solid rgb(119, 119, 119);
            }
            a {
                display: block;
                width: 100%;
            }
        }
    }

}
.hamburger {
    padding-right: 50px;
}