.parking {
    &-section {
        border-top: 1px solid #F2F2F2;
    }
    &-block {
        display: grid;
        grid-template-columns: 420px 1fr;
        gap: 30px;

        @media (max-width: 1090px) {
            grid-template-columns: 1fr;
        }
    }
    &-img {
        
        &-big {
            margin: 30px 0;
            width: 100%;
        }

    }
    &-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #000000;

        @media (max-width: 647px) {
            font-size: 14px;
        }
    }

}