.gallary {
    border-top: 1px solid #F2F2F2;

    &-block {
        display: grid;
        grid-template-columns: 670px 1fr;
        grid-gap: 30px;
        background-color: $grey;
        margin-top: 60px;

        @media (max-width: 1120px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 890px) {
            grid-template-columns: 1fr;
        }

        &:first-child {
            margin-top: 30px;
        }
        &:last-child {
            margin-bottom: 60px;
        }
    }
    &-title {
        font-weight: 300;
        font-size: 40px;
        line-height: 50px;
        color: #BDBDBD;
    }
    &-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #000000;

    }
    &-right-side  {
        @media (max-width: 890px) {
            padding: 0 30px;
            a {
            margin: 30px 0;
            }            
        }

    }
}