.projects{
    &-pics {
        &-container{
                width: 100%;
                height: 100%;
                margin-bottom: 60px;
            }
        }
        &-pagination {
            width: 150px;
        }

    &-button{
        &-all{
            display: flex;
            justify-content: flex-start;
            align-items:flex-start;
        }
        &-container{
            display: flex;
            width: 300px;
        }
        &-prev {
            margin-right: 22px;
            width: 53px;
            height: 53px;
        }

    }
}